<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--
    >> DO NOT DEPLOY THIS FILE <<
    This Web.config file is only used to eliminate Razor intellisense errors
    when editing .cshtml files. Intellisense resolution of most dependencies
    occurs by scanning assemblies from "bin" sub-folder; this folder gets
    auto-populated via post-build event. Note that .NET System.Core.dll is
    also manually copied here from GAC to suppress intellisense error CS0234:
    "The type or namespace name 'Linq' does not exist in the namespace 'System'"
  -->
  <system.web>
    <compilation debug="true">
      <assemblies>
        <add assembly="System.Net.Http, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>