<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="categorizedSettings" type="GSF.Configuration.CategorizedSettingsSection, GSF.Core"/>
  </configSections>
  <categorizedSettings>
    <systemSettings>
      <add name="sourceHostAddress" value="localhost" description="Host address of source historian" encrypted="false" scope="User"/>
      <add name="sourceDataPort" value="38402" description="Data port of source historian" encrypted="false" scope="User"/>
      <add name="sourceMetaDataPort" value="6175" description="Meta-data port of source historian" encrypted="false" scope="User"/>
      <add name="sourceInstanceName" value="PPA" description="Instance name of source historian" encrypted="false" scope="User"/>
      <add name="destinationHostAddress" value="localhost" description="Host address of destination historian" encrypted="false" scope="User"/>
      <add name="destinationDataPort" value="38402" description="Data port of destination historian" encrypted="false" scope="User"/>
      <add name="destinationMetaDataPort" value="6175" description="Meta-data port of destination historian" encrypted="false" scope="User"/>
      <add name="destinationInstanceName" value="PPA" description="Instance name of destination historian" encrypted="false" scope="User"/>
      <add name="frameRate" value="30" description="Frame rate, in frames per second, used to estimate total data for timespan" encrypted="false" scope="User"/>
      <add name="metaDataTimeout" value="60" description="Meta-data retriever timeout" encrypted="false" scope="User"/>
      <add name="startTime" value="01/01/2017 00:00:00" description="Start of time range" encrypted="false" scope="User"/>
      <add name="endTime" value="01/01/2017 00:10:10" description="End of time range" encrypted="false" scope="User"/>
      <add name="messageInterval" value="1000" description="Message display interval" encrypted="false" scope="User"/>
      <add name="enableLogging" value="True" description="Flag to enable detailed logging" encrypted="false" scope="User"/>
    </systemSettings>
    <lastWindowLocation>
      <add name="ComparisonUtility" value="" description="Location of the windows form." encrypted="false" scope="User"/>
    </lastWindowLocation>
  </categorizedSettings>
  <runtime>
    <generatePublisherEvidence enabled="false"/>
  </runtime>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
</configuration>
