@*******************************************************************************************************
//  AddDevice.cshtml - Gbtc
//
//  Copyright © 2019, Grid Protection Alliance.  All Rights Reserved.
//
//  Licensed to the Grid Protection Alliance (GPA) under one or more contributor license agreements. See
//  the NOTICE file distributed with this work for additional information regarding copyright ownership.
//  The GPA licenses this file to you under the MIT License (MIT), the "License"; you may not use this
//  file except in compliance with the License. You may obtain a copy of the License at:
//
//      http://opensource.org/licenses/MIT
//
//  Unless agreed to in writing, the subject software distributed under the License is distributed on an
//  "AS-IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. Refer to the
//  License for the specific language governing permissions and limitations.
//
//  Code Modification History:
//  ----------------------------------------------------------------------------------------------------
//  03/14/2019 - J. Ritchie Carroll
//       Generated original version of source code.
//
//*****************************************************************************************************@

@using openHistorian.Model
@using GSF.Web.Model
@inherits ExtendedTemplateBase<AppModel>
@{
    Layout = "Layout.cshtml";
    ViewBag.Title = "Add Device";
}
<table class="table table-striped">
    <tr>
        <td style="vertical-align: middle">
            <img src="/Images/openHistorianBanner.png" alt="openHistorian Banner" />
        </td>
        <td>
            <div style="padding-bottom: 20px">
                <a id="DeviceTypes"></a><i><b>Select Device Type to Add:</b></i>
            </div>
            <div style="padding-bottom: 10px">
                <b><span style="font-size: larger">&bull;</span></b>&nbsp;&nbsp;<span title="Adding new devices from the openHistorian Web UI is a BETA feature. Consider using the Windows UI-based openHistorian Manager for adding devices in production."><b><a href="AddSynchrophasorDevice.cshtml">Synchrophasor (BETA)</a></b> - Adds a new synchrophasor device connection.</span>
            </div>
            <div style="padding-bottom: 10px">
                <b><span style="font-size: larger">&bull;</span></b>&nbsp;&nbsp;<b><a href="ModbusConfig.cshtml">Modbus</a></b> - Adds a new Modbus connection.
            </div>
            <div style="padding-bottom: 10px">
                <b><span style="font-size: larger">&bull;</span></b>&nbsp;&nbsp;<b><a href="ImportCOMTRADE.cshtml">COMTRADE</a></b> - Imports a COMTRADE file data into the openHistorian.
            </div>
        </td>
    </tr>
    <tr style="height: 150px; border: none">
        <td colspan="2">&nbsp;</td>
    </tr>
</table>