                        <form class="form-inline" role="form">
                            <div class="form-group form-group-sm" data-bind="validationElement: startTime">
                                <label for="{0}StartTime" data-bind="css: {{'disabled': useInterval()}}">Start&nbsp;Time:</label>
                                <div class="input-group date" data-bind="dateTimePicker: startTime">
                                    <input type="datetime" class="form-control" id="{0}StartTime" placeholder="Select start time..." data-bind="textInput: startTime, attr: {{'disabled': (useInterval() ? true : undefined), 'readonly': (useInterval() ? true : undefined)}}">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-calendar" data-bind="css: {{'disabled': useInterval()}}"></i></span>
                                </div>
                                &nbsp;&nbsp;
                            </div>
                            <div class="form-group form-group-sm" data-bind="validationElement: endTime">
                                <label for="{0}EndTime" data-bind="css: {{'disabled': useInterval() && fromNow()}}">&nbsp;End&nbsp;Time:</label>
                                <div class="input-group date" data-bind="dateTimePicker: endTime">
                                    <input type="datetime" class="form-control" id="{0}EndTime" placeholder="Select end time..." data-bind="textInput: endTime, attr: {{'disabled': (useInterval() && fromNow() ? true : undefined), 'readonly': (useInterval() && fromNow() ? true : undefined)}}">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-calendar" data-bind="css: {{'disabled': useInterval() && fromNow()}}"></i></span>
                                </div>
                                &nbsp;&nbsp;
                            </div>
                            <div class="form-group form-group-sm small">
                                Time&nbsp;Span:&nbsp;&nbsp;
                                <span data-bind="text: elapsedTime"></span>
                            </div>
                            <br />
                        </form>
                        <hr class="quarter-break" />
                        <form class="form-inline" role="form">
                            <div class="checkbox" style="margin-bottom: 4px">
                                <label for="{0}ChooseInterval"><input type="checkbox" id="{0}ChooseInterval" data-bind="checked: useInterval"> <strong>Use&nbsp;Interval&nbsp;&nbsp;</strong></label>
                            </div>
                            <div class="form-group form-group-sm">
                                <label for="{0}Interval" data-bind="css: {{'disabled': !useInterval()}}">Last:</label>
                                <input type="number" class="form-control" id="{0}Interval" style="width: 65px" data-bind="textInput: interval, integer, attr: {{'disabled': (useInterval() ? undefined : true)}}">
                            </div>
                            <div class="form-group form-group-sm">
                                <select class="form-control" id="{0}IntervalUnits" data-bind="value: intervalUnits, valueAllowUnset: false, attr: {{'disabled': (useInterval() ? undefined : true)}}" required>
                                    <option value="0">Seconds</option>
                                    <option value="1" selected>Minutes</option>
                                    <option value="2">Hours</option>
                                    <option value="3">Days</option>
                                </select>
                            </div>
                            <span>&nbsp;&nbsp;</span>
                            <div class="form-group form-group-sm">
                                <label class="radio-inline" for="{0}FromNow" data-bind="css: {{'disabled': !useInterval()}}"><input type="radio" value="FromNow" name="{0}FromSource" id="{0}FromNow" data-bind="checked: fromNowOption, attr: {{'disabled': (useInterval() ? undefined : true)}}">From Now</label>
                                <label class="radio-inline" for="{0}FromEndTime" data-bind="css: {{'disabled': !useInterval()}}"><input type="radio" value="FromEndTime" name="{0}FromSource" id="{0}FromEndTime" data-bind="checked: fromNowOption, attr: {{'disabled': (useInterval() ? undefined : true)}}">From End Time</label>
                                <span>&nbsp;</span>
                                <button type="button" class="btn btn-default set-midnight-time" onclick="setTimeToMidnight()" data-bind="visible: !fromNow() && useInterval()">Set time to 00:00:00.000</button>
                            </div>
                        </form>
                        <hr class="thick-spacer">