<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="categorizedSettings" type="GSF.Configuration.CategorizedSettingsSection, GSF.Core" />
  </configSections>
  <categorizedSettings>
    <systemSettings>
      <add name="HostAddress" value="127.0.0.1" description="Host address for historian connection." encrypted="false" scope="User" />
      <add name="DataPort" value="38402" description="Data port for historian connection." encrypted="false" scope="User" />
      <add name="MetadataPort" value="6175" description="Meta-data port for historian connection." encrypted="false" scope="User" />
      <add name="InstanceName" value="PPA" description="Name of historian instance to access." encrypted="false" scope="User" />
      <add name="FrameRate" value="30" description="Frame rate, in frames per second, used to estimate total data for timespan." encrypted="false" scope="User" />
      <add name="MetaDataTimeout" value="60000" description="Meta-data retriever timeout." encrypted="false" scope="User" />
      <add name="MessageInterval" value="2000" description="Message display interval." encrypted="false" scope="User" />
      <add name="EnableLogging" value="True" description="Flag that determines if logging should be enabled." encrypted="false" scope="User" />
    </systemSettings>
    <lastWindowLocation>
      <add name="MainForm" value="" description="Location of the windows form." encrypted="false" scope="User" />
    </lastWindowLocation>
  </categorizedSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
</configuration>