<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="TVACodeLibrary.Libraries.Communication" version="4.0.3.40" />
  <package id="TVACodeLibrary.Libraries.Core" version="4.0.3.40" />
  <package id="TVACodeLibrary.Libraries.Security" version="4.0.3.40" />
  <package id="TVACodeLibrary.Libraries.ServiceProcess" version="4.0.3.40" />
</packages>