<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="DataExtractionUtility.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <runtime>
    <generatePublisherEvidence enabled="false"/>
  </runtime>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <userSettings>
    <DataExtractionUtility.Properties.Settings>
      <setting name="ServerIP" serializeAs="String">
        <value>127.0.0.1</value>
      </setting>
      <setting name="HistorianStreamingPort" serializeAs="String">
        <value>38402</value>
      </setting>
      <setting name="HistorianInstanceName" serializeAs="String">
        <value>PPA</value>
      </setting>
      <setting name="HistorianGatewayPort" serializeAs="String">
        <value>6175</value>
      </setting>
      <setting name="CsvMaxFileSizeMB" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="CsvMaxRowCount" serializeAs="String">
        <value>500000</value>
      </setting>
      <setting name="CsvMaximumColumnCount" serializeAs="String">
        <value>1024</value>
      </setting>
      <setting name="CsvMaxFileCount" serializeAs="String">
        <value>-1</value>
      </setting>
    </DataExtractionUtility.Properties.Settings>
  </userSettings>
</configuration>
