<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="categorizedSettings" type="TVA.Configuration.CategorizedSettingsSection, TVA.Core"/>
  </configSections>
  <categorizedSettings>
    <lastWindowSize>
      <add name="Main" value="" description="Size of the windows form." encrypted="false" scope="User"/>
    </lastWindowSize>
    <lastWindowLocation>
      <add name="Main" value="" description="Location of the windows form." encrypted="false" scope="User"/>
    </lastWindowLocation>
    <general>
      <add name="ArchiveLocation" value="" description="Location of last selected archive" encrypted="false" scope="User"/>
      <add name="Selection" value="" description="" encrypted="false" scope="User"/>
    </general>
  </categorizedSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>