<?xml version="1.0" encoding="utf-8"?>
<repositories>
  <repository path="..\..\Documentation\SampleCode\packages.config" />
  <repository path="..\..\Libraries\GSF.SortedTreeStore\packages.config" />
  <repository path="..\..\Libraries\Tests\GSF.SortedTreeStore.Test\packages.config" />
  <repository path="..\..\Libraries\Tests\openHistorian.PerformanceTests\packages.config" />
  <repository path="..\..\Libraries\Tests\openVisN.Framework.UnitTest\packages.config" />
  <repository path="..\..\openHistorian.Scada\packages.config" />
</repositories>