<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="categorizedSettings" type="TVA.Configuration.CategorizedSettingsSection, TVA.Core"/>
  </configSections>
  <categorizedSettings>
    <clientHelper>
      <add name="Username" value="" description="Username to be used for authentication with the service." encrypted="false"/>
      <add name="Password" value="" description="Password to be used for authentication with the service." encrypted="true"/>
    </clientHelper>
    <remotingClient>
      <add name="ConnectionString" value="Server=localhost:8500" description="Data required by the client to connect to the server." encrypted="false"/>
      <add name="MaxConnectionAttempts" value="-1" description="Maximum number of times the client will attempt to connect to the server." encrypted="false"/>
      <add name="Handshake" value="True" description="True if the client will do a handshake with the server after the connection has been established; otherwise False." encrypted="false"/>
      <add name="HandshakeTimeout" value="3000" description="Number of milliseconds the client will wait for the server's response to the Handshake." encrypted="false"/>
      <add name="SharedSecret" value="openHistorian" description="Key to be used for ciphering the data exchanged between the client and server." encrypted="false"/>
      <add name="Encryption" value="None" description="Cipher strength (None; Aes128; Aes256) to be used for ciphering the data exchanged between the client and server." encrypted="false"/>
      <add name="SecureSession" value="False" description="True if the data exchanged between the client and server will be encrypted using a private session passphrase; otherwise False." encrypted="false"/>
      <add name="ReceiveTimeout" value="-1" description="Number of milliseconds the client will wait for data to be received from the server." encrypted="false"/>
      <add name="ReceiveBufferSize" value="8192" description="Size of the buffer used by the client for receiving data from the server." encrypted="false"/>
      <add name="Compression" value="NoCompression" description="Compression strength (NoCompression; DefaultCompression; BestSpeed; BestCompression; MultiPass) to be used for compressing the data exchanged between the client and server." encrypted="false"/>
      <add name="PayloadAware" value="True" description="True if payload boundaries are to be preserved during transmission, otherwise False." encrypted="false"/>
    </remotingClient>
    <errorLogger>
      <add name="LogToUI" value="True" description="True if an encountered exception is to be logged to the User Interface; otherwise False." encrypted="false"/>
      <add name="LogToFile" value="True" description="True if an encountered exception is to be logged to a file; otherwise False." encrypted="false"/>
      <add name="LogToEmail" value="False" description="True if an email is to be sent to ContactEmail with the details of an encountered exception; otherwise False." encrypted="false"/>
      <add name="LogToEventLog" value="False" description="True if an encountered exception is to be logged to the Event Log; otherwise False." encrypted="false"/>
      <add name="LogToScreenshot" value="False" description="True if a screenshot is to be taken when an exception is encountered; otherwise False." encrypted="false"/>
      <add name="LogUserInfo" value="False" description="True if user information is to be logged along with exception information; otherwise False." encrypted="false"/>
      <add name="SmtpServer" value="localhost" description="Name of the SMTP server to be used for sending the email messages." encrypted="false"/>
      <add name="ContactName" value="" description="Name of the person that the end-user can contact when an exception is encountered." encrypted="false"/>
      <add name="ContactEmail" value="" description="Comma-seperated list of recipient email addresses for the email message." encrypted="false"/>
      <add name="ContactPhone" value="" description="Phone number of the person that the end-user can contact when an exception is encountered." encrypted="false"/>
      <add name="HandleUnhandledException" value="True" description="True if unhandled exceptions are to be handled automatically; otherwise False." encrypted="false"/>
      <add name="ExitOnUnhandledException" value="False" description="True if the application must exit when an unhandled exception is encountered; otherwise False." encrypted="false"/>
    </errorLogger>
  </categorizedSettings>
  <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
</configuration>
