<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="categorizedSettings" type="GSF.Configuration.CategorizedSettingsSection, GSF.Core"/>
  </configSections>
  <categorizedSettings>
    <clientHelper>
      <add name="Username" value="" description="Username to be used for authentication with the service." encrypted="false" scope="User"/>
      <add name="Password" value="" description="Password to be used for authentication with the service." encrypted="true" scope="User"/>
      <add name="SerializationFormat" value="Binary" description="Message serialization format for interactions with service, one of: Xml, Json or Binary. Default is Binary." encrypted="false"/>
    </clientHelper>
    <remotingClient>
      <add name="ConnectionString" value="Server=localhost:8510" description="Data required by the client to connect to the server." encrypted="false"/>
      <add name="MaxConnectionAttempts" value="-1" description="Maximum number of times the client will attempt to connect to the server." encrypted="false"/>
      <add name="SendBufferSize" value="8192" description="Size of the buffer used by the client for sending data from the server." encrypted="false"/>
      <add name="ReceiveBufferSize" value="8192" description="Size of the buffer used by the client for receiving data from the server." encrypted="false"/>
      <add name="EnabledSslProtocols" value="Tls12" description="The set of SSL protocols that are enabled for this client." encrypted="false"/>
      <add name="CheckCertificateRevocation" value="True" description="True if the certificate revocation list is to be checked during authentication, otherwise False." encrypted="false"/>
      <add name="CertificateFile" value="" description="Path to the certificate used by this client for authentication." encrypted="false"/>
      <add name="TrustedCertificatesPath" value="" description="Path to the directory containing the trusted remote certificates." encrypted="false"/>
      <add name="ValidPolicyErrors" value="RemoteCertificateChainErrors" description="Set of valid policy errors when validating remote certificates." encrypted="false"/>
      <add name="ValidChainFlags" value="UntrustedRoot" description="Set of valid chain flags used when validating remote certificates." encrypted="false"/>
      <add name="PayloadAware" value="True" description="True if payload boundaries are to be preserved during transmission, otherwise False." encrypted="false"/>
      <add name="IntegratedSecurity" value="True" description="True if the current Windows account credentials are used for authentication, otherwise False." encrypted="false"/>
      <add name="AllowDualStackSocket" value="True" description="True if dual-mode socket is allowed when IP address is IPv6, otherwise False." encrypted="false"/>
      <add name="MaxSendQueueSize" value="-1" description="The maximum size of the send queue before payloads are dumped from the queue." encrypted="false"/>
    </remotingClient>
    <errorLogger>
      <add name="LogToUI" value="True" description="True if an encountered exception is to be logged to the User Interface; otherwise False." encrypted="false"/>
      <add name="LogToFile" value="True" description="True if an encountered exception is to be logged to a file; otherwise False." encrypted="false"/>
      <add name="LogToEmail" value="False" description="True if an email is to be sent to ContactEmail with the details of an encountered exception; otherwise False." encrypted="false"/>
      <add name="LogToEventLog" value="False" description="True if an encountered exception is to be logged to the Event Log; otherwise False." encrypted="false"/>
      <add name="LogToScreenshot" value="False" description="True if a screenshot is to be taken when an exception is encountered; otherwise False." encrypted="false"/>
      <add name="LogUserInfo" value="False" description="True if user information is to be logged along with exception information; otherwise False." encrypted="false"/>
      <add name="SmtpServer" value="localhost" description="Name of the SMTP server to be used for sending the email messages." encrypted="false"/>
      <add name="ContactName" value="" description="Name of the person that the end-user can contact when an exception is encountered." encrypted="false"/>
      <add name="ContactEmail" value="" description="Comma-seperated list of recipient email addresses for the email message." encrypted="false"/>
      <add name="ContactPhone" value="" description="Phone number of the person that the end-user can contact when an exception is encountered." encrypted="false"/>
      <add name="HandleUnhandledException" value="True" description="True if unhandled exceptions are to be handled automatically; otherwise False." encrypted="false"/>
      <add name="ExitOnUnhandledException" value="False" description="True if the application must exit when an unhandled exception is encountered; otherwise False." encrypted="false"/>
    </errorLogger>
    <cryptographyServices>
      <add name="CryptoCache" value="KeyIVCache.bin" description="Path and file name of cryptographic key and initialization vector cache." encrypted="false"/>
      <add name="CacheRetryDelayInterval" value="1000" description="Wait interval, in milliseconds, before retrying load of cryptographic key and initialization vector cache." encrypted="false"/>
      <add name="CacheMaximumRetryAttempts" value="5" description="Maximum retry attempts allowed for loading cryptographic key and initialization vector cache." encrypted="false"/>
    </cryptographyServices>
  </categorizedSettings>
  <runtime>
    <generatePublisherEvidence enabled="false"/>
  </runtime>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
</configuration>
