<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="categorizedSettings" type="GSF.Configuration.CategorizedSettingsSection, GSF.Core" />
  </configSections>
  <categorizedSettings>
    <systemSettings>
      <add name="ConnectionString" value="" description="Configuration connection string" encrypted="False" scope="User" />
      <add name="DataProviderString" value="" description="Configuration database ADO.NET data provider assembly type creation string used when ConfigurationType=Database" encrypted="false" scope="User" />
      <add name="NodeID" value="" description="Unique Node ID" encrypted="false" scope="User" />
      <add name="SelectActionAdapters" value="true" description="Flag that determines if action adapters are selected." encrypted="false" scope="User" />
      <add name="SelectInputAdapters" value="false" description="Flag that determines if input adapters are selected." encrypted="false" scope="User" />
      <add name="SelectOutputAdapters" value="false" description="Flag that determines if output adapters are selected." encrypted="false" scope="User" />
      <add name="ForwardStatisticsToSnmp" value="false" description="Defines flag that determines if statistics should be published as SNMP trap messages." encrypted="false" />
    </systemSettings>
    <lastWindowLocation>
      <add name="MainForm" value="" description="Location of the windows form." encrypted="false" scope="User" />
    </lastWindowLocation>
    <lastWindowSize>
      <add name="MainForm" value="" description="Size of the windows form." encrypted="false" scope="User" />
    </lastWindowSize>
    <securityProvider>
      <add name="ApplicationName" value="AdapterExplorer" description="Name of the application being secured as defined in the backend security datastore." encrypted="false" />
      <add name="ProviderType" value="GSF.Security.AdoSecurityProvider, GSF.Security" description="The type to be used for enforcing security." encrypted="false" />
      <add name="UserCacheTimeout" value="0" description="Defines the timeout, in whole minutes, for a user's provider cache. Any value less than 1 will cause cache reset every minute." encrypted="false" />
      <add name="IncludedResources" value="MainForm=*" description="Semicolon delimited list of resources to be secured along with role names." encrypted="false" />
      <add name="ExcludedResources" value="" description="Semicolon delimited list of resources to be excluded from being secured." encrypted="false" />
      <add name="NotificationSmtpServer" value="localhost" description="SMTP server to be used for sending out email notification messages." encrypted="false" />
      <add name="NotificationSenderEmail" value="sender@company.com" description="Email address of the sender of email notification messages." encrypted="false" />
      <add name="ConnectionString" value="Eval(systemSettings.ConnectionString)" description="Connection connection string to be used for connection to the backend security datastore." encrypted="false" />
      <add name="DataProviderString" value="Eval(systemSettings.DataProviderString)" description="Configuration database ADO.NET data provider assembly type creation string to be used for connection to the backend security datastore." encrypted="false" />
      <add name="LdapPath" value="" description="Specifies the LDAP path used to initialize the security provider." encrypted="false" />
      <add name="CacheRetryDelayInterval" value="1000" description="Wait interval, in milliseconds, before retrying load of user data cache." encrypted="false" />
      <add name="CacheMaximumRetryAttempts" value="5" description="Maximum retry attempts allowed for loading user data cache." encrypted="false" />
      <add name="EnableOfflineCaching" value="True" description="True to enable caching of user information for authentication in offline state, otherwise False." encrypted="false" />
      <add name="PasswordRequirementsRegex" value="^.*(?=.{8,})(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).*$" description="Regular expression used to validate new passwords for database users." encrypted="false" />
      <add name="PasswordRequirementsError" value="Invalid Password: Password must be at least 8 characters; must contain at least 1 number, 1 upper case letter, and 1 lower case letter" description="Error message to be displayed when new database user password fails regular expression test." encrypted="false" />
      <add name="UseDatabaseLogging" value="False" description="Flag that determines if provider should write logs to the database." encrypted="false" />
    </securityProvider>
    <cryptographyServices>
      <add name="UseFIPSModules" value="Auto" description="Determines if security functions should use FIPS cryptographic modules. Value is one of 'Auto', 'On' or 'Off'. Defaults to 'Auto' which reads FIPS setting from registry." encrypted="false" />
      <add name="CryptoCache" value="KeyIVCache.bin" description="Path and file name of cryptographic key and initialization vector cache." encrypted="false" />
      <add name="CacheRetryDelayInterval" value="1000" description="Wait interval, in milliseconds, before retrying load of cryptographic key and initialization vector cache." encrypted="false" />
      <add name="CacheMaximumRetryAttempts" value="5" description="Maximum retry attempts allowed for loading cryptographic key and initialization vector cache." encrypted="false" />
    </cryptographyServices>
    <activeDirectory>
      <add name="UseLegacyGroupLookups" value="False" description="Flag that determines if group based lookups for local users should use legacy algorithm. Enabling may speed up authentication when using local accounts." encrypted="false" />
      <add name="PrivilegedDomain" value="" description="Domain of privileged domain user account used for Active Directory information lookup, if needed." encrypted="false" />
      <add name="PrivilegedUserName" value="" description="Username of privileged domain user account used for Active Directory information lookup, if needed." encrypted="false" />
      <add name="PrivilegedPassword" value="" description="Encrypted password of privileged domain user account used for Active Directory information lookup, if needed." encrypted="true" />
    </activeDirectory>
  </categorizedSettings>
  <runtime>
    <generatePublisherEvidence enabled="false" />
  </runtime>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
</configuration>