<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="categorizedSettings" type="GSF.Configuration.CategorizedSettingsSection, GSF.Core" />
  </configSections>
  <categorizedSettings>
    <systemSettings>
      <add name="SelectActionAdapters" value="true" description="Flag that determines if action adapters are selected." encrypted="false" scope="User" />
      <add name="SelectInputAdapters" value="false" description="Flag that determines if input adapters are selected." encrypted="false" scope="User" />
      <add name="SelectOutputAdapters" value="false" description="Flag that determines if output adapters are selected." encrypted="false" scope="User" />
      <add name="ForwardStatisticsToSnmp" value="false" description="Defines flag that determines if statistics should be published as SNMP trap messages." encrypted="false" />
    </systemSettings>
    <lastWindowLocation>
      <add name="MainForm" value="" description="Location of the windows form." encrypted="false" scope="User" />
    </lastWindowLocation>
    <lastWindowSize>
      <add name="MainForm" value="" description="Size of the windows form." encrypted="false" scope="User" />
    </lastWindowSize>
  </categorizedSettings>
  <runtime>
    <generatePublisherEvidence enabled="false" />
  </runtime>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
</configuration>