<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="categorizedSettings" type="GSF.Configuration.CategorizedSettingsSection, GSF.Core" />
  </configSections>
  <categorizedSettings>
    <lastWindowLocation>
      <add name="MainForm" value="" description="Location of the windows form." encrypted="false" scope="User" />
    </lastWindowLocation>
  </categorizedSettings>
  <runtime>
    <generatePublisherEvidence enabled="false" />
  </runtime>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
</configuration>