<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="categorizedSettings" type="GSF.Configuration.CategorizedSettingsSection, GSF.Core" />
  </configSections>
  <categorizedSettings>
  <systemSettings>
    <add name="HostConfig" value="" description="GPA synchrophasor product host configuration file." encrypted="false" scope="User" />
    <add name="TargetHistorianID" value="-1" description="Target historian ID." encrypted="false" scope="User" />
  </systemSettings>
  <lastWindowLocation>
    <add name="MainForm" value="" description="Location of the windows form." encrypted="false" scope="User" />
  </lastWindowLocation>
  <lastWindowSize>
    <add name="MainForm" value="{Width=800, Height=450}" description="Size of the windows form." encrypted="false" scope="User" />
  </lastWindowSize>
  </categorizedSettings>
  <runtime>
    <generatePublisherEvidence enabled="false" />
  </runtime>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>
