<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="categorizedSettings" type="GSF.Configuration.CategorizedSettingsSection, GSF.Core" />
  </configSections>
  <categorizedSettings>
    <systemSettings>
      <add name="GroupByPrefix" value="true" description="Flag that determines if devices should be grouped by prefix." encrypted="false" scope="User" />
      <add name="Filter" value="" description="Current filter." encrypted="false" scope="User" />
    </systemSettings>
    <lastWindowLocation>
      <add name="BulkCalculationState" value="" description="Location of the windows form." encrypted="false" scope="User" />
    </lastWindowLocation>
    <lastWindowSize>
      <add name="BulkCalculationState" value="{Width=525, Height=465}" description="Size of the windows form." encrypted="false" scope="User" />
    </lastWindowSize>
  </categorizedSettings>
  <runtime>
    <generatePublisherEvidence enabled="false" />
  </runtime>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
</configuration>