<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="categorizedSettings" type="GSF.Configuration.CategorizedSettingsSection, GSF.Core"/>
  </configSections>
  <categorizedSettings>
    <applicationSettings>
      <add name="ConnectionString" value="Data Source=localhost; Initial Catalog=openPDC; Integrated Security=SSPI" description="Database connection string." encrypted="false" scope="User"/>
      <add name="DataProviderString" value="AssemblyName={System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089}; ConnectionType=System.Data.SqlClient.SqlConnection; AdapterType=System.Data.SqlClient.SqlDataAdapter" description="Configuration database ADO.NET data provider assembly type creation string." encrypted="false" scope="User"/>
      <add name="SerializedSchema" value="SerializedSchema.bin" description="File containing binary-serialized schema information about the database." encrypted="false" scope="User"/>
    </applicationSettings>
  </categorizedSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>