<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="categorizedSettings" type="GSF.Configuration.CategorizedSettingsSection, GSF.Core"/>
  </configSections>
  <categorizedSettings>
    <applicationSettings>
      <add name="FromConnectionString" value="" description="Source connection string." encrypted="false" scope="User"/>
      <add name="FromDataType" value="Unspecified" description="Source database type." encrypted="false" scope="User"/>
      <add name="ToConnectionString" value="" description="Destination connection string." encrypted="false" scope="User"/>
      <add name="ToDataType" value="Unspecified" description="Destination database type." encrypted="false" scope="User"/>
      <add name="UseFromConnectionForRI" value="" description="Use source connection string for referential integrity analysis." encrypted="false" scope="User"/>
      <add name="PreservePrimaryKeyValue" value="True" description="Preserve value of Primary Key value." encrypted="false" scope="User"/>
    </applicationSettings>
    <lastWindowLocation>
      <add name="DataMigrationUtility" value="" description="Location of the windows form." encrypted="false" scope="User"/>
    </lastWindowLocation>
  </categorizedSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
</configuration>
