<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="categorizedSettings" type="GSF.Configuration.CategorizedSettingsSection, GSF.Core" />
  </configSections>
  <categorizedSettings>
      <systemSettings>
          <add name="HostAddress" value="127.0.0.1" description="Host address for historian connection."
              encrypted="false" scope="User" />
          <add name="DataPort" value="38402" description="Data port for historian connection."
              encrypted="false" scope="User" />
          <add name="MetadataPort" value="6175" description="Meta-data port for historian connection."
              encrypted="false" scope="User" />
          <add name="InstanceName" value="PPA" description="Name of historian instance to access."
              encrypted="false" scope="User" />
          <add name="FrameRate" value="30" description="Frame rate, in frames per second, used to estimate total data for timespan."
              encrypted="false" scope="User" />
          <add name="MetaDataTimeout" value="60000" description="Meta-data retriever timeout."
              encrypted="false" scope="User" />
          <add name="MessageInterval" value="2000" description="Message display interval."
              encrypted="false" scope="User" />
          <add name="EnableLogging" value="True" description="Flag that determines if logging should be enabled."
              encrypted="false" scope="User" />
          <add name="Port" value="6175" description="Meta-data port for historian connection."
              encrypted="false" scope="User" />
          <add name="MetadataTimeout" value="60000" description="Meta-data retriever timeout, in milliseconds."
              encrypted="false" scope="User" />
          <add name="StartTime" value="2017-01-01" description="Selected start time range for historian read."
              encrypted="false" scope="User" />
          <add name="EndTime" value="01/01/2017 00:10:00" description="Selected end time range for historian read."
              encrypted="false" scope="User" />
          <add name="ReadInterval" value="0" description="Data read interval."
              encrypted="false" scope="User" />
          <add name="AlignTimestamps" value="True" description="Flag that controls if the signal to noise algorithm is processed."
              encrypted="false" scope="User" />
          <add name="ExportMissingAsNaN" value="True" description="Flag that controls if the unbalance algorithm is processed."
              encrypted="false" scope="User" />
          <add name="FillInMissingTimestamps" value="True" description="Flag that controls if the unbalance algorithm is processed."
              encrypted="false" scope="User" />
          <add name="ExportFilePerDataType" value="True" description="Flag that controls if one export file should be created per data type."
              encrypted="false" scope="User" />
          <add name="AcceptableBadData" value="30" description="Value that determines the acceptable amount of bad data for export."
              encrypted="false" scope="User" />
          <add name="AcceptableBadTime" value="30" description="Value that determines the acceptable amount of bad time for export."
              encrypted="false" scope="User" />
          <add name="AcceptableMissingData" value="30" description="Value that determines the acceptable amount of missing data for export."
              encrypted="false" scope="User" />
      </systemSettings>
      <lastWindowLocation>
          <add name="MainForm" value="" description="Location of the windows form."
              encrypted="false" scope="User" />
      </lastWindowLocation>
      <lastWindowSize>
          <add name="MainForm" value="" description="Size of the windows form."
              encrypted="false" scope="User" />
      </lastWindowSize>
  </categorizedSettings>
  <runtime>
    <generatePublisherEvidence enabled="false"/>
  </runtime>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
</configuration>