<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="categorizedSettings" type="GSF.Configuration.CategorizedSettingsSection, GSF.Core" />
  </configSections>
  <categorizedSettings>
    <systemSettings>
      <add name="TargetConfigFile" value="" description="Target config file name." encrypted="false" scope="Application" />
      <add name="Expression" value="{CompanyAcronym}_{DeviceAcronym}[?{SignalType.Source}=Phasor[-eval{'{PhasorLabel}'.Trim().ToUpper().Replace(' ','_')}_eval{'{SignalType.Abbreviation}'.Substring(0,1)}eval{'{Phase}'=='+' ? '1' : ('{Phase}'=='-' ? '2' : '{Phase}')}[?{BaseKV}&gt;0[_{BaseKV}]][?{SignalType.Suffix}=PA[:ANG]][?{SignalType.Suffix}=PM[:MAG]]]][?{SignalType.Source}!=Phasor[:{SignalType.Acronym}[?{SignalIndex}!=-1[{SignalIndex}]]]]" description="Point tag name expression." encrypted="false" scope="Application" />
      <add name="SetPortNumber" value="False" description="Flag that determines if STTP port number should be set." encrypted="false" scope="Application" />
      <add name="PortNumber" value="7165" description="Target STTP port number." encrypted="false" scope="Application" />
    </systemSettings>
    <lastWindowLocation>
      <add name="Main" value="" description="Location of the windows form." encrypted="false" scope="User" />
    </lastWindowLocation>
    <lastWindowSize>
      <add name="Main" value="" description="Size of the windows form." encrypted="false" scope="User" />
    </lastWindowSize>
  </categorizedSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
</configuration>